---
import BaseLayout from "src/layouts/BaseLayout.astro";
import Landing from "@components/Landing.astro";
import aboutImage from "@assets/images/headshot.jpg" // The asset must be imported from src in order to be used in <Picture /> or <Image />
import { Picture } from "astro:assets";
import FAQ from "@components/FAQ.astro";
import CTA from "@components/CTA.astro";

---

<BaseLayout title="About" description="Learn about Skin by Salena's commitment to personalized skincare. Discover our mission, values, and the team behind our beauty services.">
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing title="About Us" />

  <!-- ============================================ -->
  <!--                 Side By Side                 -->
  <!-- ============================================ -->

  <section id="sbs">
    <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-left">
        <picture class="cs-picture cs-picture1">
          <Picture 
          src={aboutImage}
          formats={['avif', 'webp']} 
          alt="A description of my image."
          aria-hidden="true" 
          decoding="async"
          alt="Alex Headshot"
          loading="eager"
      /> 
        </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-right">
        <span class="cs-topper">About Alex</span>
        <p class="cs-text">
          Welcome to Midlo Web Studio! I’m thrilled you are here and looking into transforming your business. I am an experienced software engineer with over 10 years of experience working around the Aerospace and Aviation industry. I have always had a knack for design and creativity and made use of my programming skills combined with design to bring this amazing service of building custom websites for people. I love working with small business owners and learning about their industry and with my diverse skill set - I believe we can make anything happen together!
        </p>
        <!-- <p class="cs-text">
          After gaining valuable experience at a facial spa for two years, I
          felt inspired to create something of my own. In March 2021, I launched
          Skin By Salena, a decision that has brought immense joy and
          fulfillment into my life. Facials and skincare are my true passions,
          and I’m dedicated to offering more than just products—I provide
          solutions, education, and personalized plans tailored to your unique
          needs.
        </p> -->
        <div class="cs-flex-group">
          <!-- <p class="cs-flex-p">
            Voted best facial in Fort Worth and DFW in 2023!! Come get facial
            with me where you’ll get the glowy skin, results and a forever esty
            bestie!
          </p> -->
          <span class="cs-name">Alex Hoffman</span>
          <span class="cs-job">CEO & Founder</span>
          <img
            class="cs-quote-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
            alt="gavel"
            width="136"
            height="77"
          />
        </div>
      </div>
    </div>
  </section>
  <FAQ />
  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #sbs {
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: (40/16rem);
      }

      .cs-left {
        /* scaling the font size with the view width */
        font-size: ~"min(2.31vw, .7em)";
        /* using ems so we can use font size to scale the whole section */
        width: (631/16em);
        height: (636/16em);
        position: relative;
      }

      .cs-picture {
        display: block;
        // /* clips img tag corners */
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          border-radius: (24/16em);
          object-position: 50% 75%; /* Aligns the image to the top */
          /* makes image act like a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-picture1 {
        width: (522/16em);
        height: (581/16em);
      }

      .cs-right {
        max-width: (542/16rem);
        margin: auto;
      }

      .cs-topper {
        text-align: left;
        font-size: 1.4rem;
        margin-bottom: (4/16rem);
      }

      .cs-title {
        text-align: left;
        max-width: (800/16rem);
      }

      .cs-text {
        text-align: left;
        max-width: (750/16rem);
        margin-bottom: (16/16rem);
        color: var(--bodyTextColor);

        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-flex-group {
        /* 16px - 32px */
        padding: clamp(1rem, 3vw, 2rem);
        background-color: #f7f7f7;
        border-radius: (16/16rem);
        position: relative;
      }

      .cs-flex-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 (16/16rem);
        color: #353535;
      }

      .cs-name {
        font-size: (16/16rem);
        font-weight: bold;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0 0 (4/16rem);
        color: var(--headerColor);
        display: block;
      }

      .cs-job {
        font-size: (14/16rem);
        line-height: 1.5em;
        color: #353535;
        display: block;
      }

      .cs-quote-icon {
        /* 60px - 136px */
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        /* 16px - 32px */
        right: clamp(1rem, 4vw, 2rem);
        bottom: (0/16rem);
      }

      .cs-button-solid {
        margin-top: (32/16rem);
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #sbs {
      .cs-container {
        flex-flow: row;
        justify-content: space-between;
        gap: (52/16rem);
      }

      .cs-left {
        font-size: ~"min(1.2vw, 1em)";
        flex: none;
      }

      .cs-right {
        margin: 0;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #sbs {
        .cs-left {
          &:before,
          &:after {
            background: var(--accent);
          }
        }

        .cs-picture2 {
          background-color: var(--dark);
          /* 6px - 12px */
          border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
        }

        .cs-topper {
          color: var(--primaryLight);
        }

        .cs-title,
        .cs-text,
        .cs-h3,
        .cs-flex-p,
        .cs-name {
          color: var(--bodyTextColorWhite);
        }

        .cs-flex-group {
          background-color: var(--accent);
        }

        .cs-job {
          color: var(--bodyTextColorWhite);
          opacity: 0.8;
        }

        .cs-quote-icon {
          opacity: 0.2;
        }
      }
    }
  }
</style>
