---
// Import the component and all the images you want to use with it
import CSPicture from "@components/TemplateComponents/CSPicture.astro";
import mobileImage from "@assets/images/CTA/construction-m.jpg";
import desktopImage from "@assets/images/CTA/cabinets2.jpg";
import fallbackImage from "@assets/images/CTA/cabinets2.jpg";
---

<!-- ============================================ --><!--                    CTA                       --><!-- ============================================ -->
<section id="cta-96">
  <!-- Need this to create a stage for the stripes, and use overflow: hidden on
          this container so the stripes don't overlap the sections above and below #cta -->
  <div aria-hidden="true" class="cs-stripes"></div>
  <div class="cs-container">
    <!-- Left Section -->
    <div class="cs-content">
      <span class="cs-topper">Contact us</span>
      <h2 class="cs-title">Ready To Get Started?</h2>
      <p class="cs-text">
        We would love to work with you and your business needs, from a website to anything in between - we are here to help and provide you a suite of tools to ensure your business exceeds in the digital landscape that we are in today.
      </p>
      <a
        class="cs-button-solid"
        aria-label="learn more about our programs"
        href="">Contact Us</a
      >
    </div>
    <!-- Right Section -->
    <picture class="cs-picture">
      <source
        media="(max-width: 600px)"
        srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/phone-m.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/phone.jpg"
      />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.digitaloceanspaces.com/CTA/phone.jpg"
        alt="phone in hand"
        width="457"
        height="632"
      />
    </picture>
  </div>
</section>

<style lang="less">
  /*-- -------------------------- -->
  <---            CTA             -->
  <--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #cta-96 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
      &:before {
        /* black background on mobile */
        content: "";
        width: 100%;
        height: 50%;
        background: var(--dark);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        z-index: -1;
      }

      .cs-stripes {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        /* prevent stripes from overlapping sections above and below */
        overflow: hidden;
        /* Makes it so your cursor acts like it doesn't exist */
        pointer-events: none;

        &:before {
          /* Stripe 1 */
          content: "";
          width: (132/16rem);
          height: (900/16rem);
          background: -moz-linear-gradient(
            top,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.45) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.45) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.45) 100%
          );
          opacity: 0.08;
          transform: rotate(-25deg);
          position: absolute;
          display: block;
          top: (-150/16rem);
          /* position in the middle, 50% from the left, no matter how wide 
                     the screen gets, it will be placed on the center line of the div */
          left: 50%;
          /* push X amount of pixels from this 50% midpoint */
          margin-left: (-100/16rem);
        }

        &:after {
          /* Stripe 2 */
          content: "";
          width: (132/16rem);
          height: (1000/16rem);
          background: -moz-linear-gradient(
            top,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.45) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.45) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.45) 100%
          );
          opacity: 0.08;
          transform: rotate(-25deg);
          position: absolute;
          display: block;
          top: (-100/16rem);
          /* position in the middle, 50% from the left, no matter how wide 
                     the screen gets, it will be placed on the center line of the div */
          left: 50%;
          /* push X amount of pixels from this 50% midpoint */
          margin-left: (-240/16rem);
        }
      }

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left or center if content needs to be aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* aligns the content */
        align-items: center;
      }

      .cs-title {
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        color: var(--bodyTextColorWhite);
        margin-bottom: (32/16rem);
        opacity: 0.8;
      }

      .cs-picture {
        width: 100%;
        max-width: (457/16rem);
        margin: auto;
        position: relative;
        display: block;
        /* moves it to the 1st position at the top */
        order: -1;
        aspect-ratio: 300/475;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          border-radius: (8/16rem) (8/16rem) 0 0;
          object-fit: cover;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cta-96 {
      /* 144px - 225px - creates the white space above */
      margin-top: clamp(9rem, 9.9vw, 14.0625rem);
      padding-bottom: 0;
      position: relative;
      z-index: 1;
      background-color: var(--dark);

      &:before {
        display: none;
      }

      .cs-stripes {
        /* flips the element horizontally, creating a mirror of it's 
                 original orientation */
        transform: scaleX(-1);
        &:before {
          margin-left: (-120/16em);
        }

        &:after {
          margin-left: (-255/16em);
        }
      }

      .cs-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
      }

      .cs-content {
        text-align: left;
        width: 50%;
        max-width: (630/16rem);
        margin: 0;
        /* 60px - 100px - this gives us the space on the bottom without padding  */
        margin-bottom: clamp(3.75rem, 6.2vw, 6.25rem);
        align-items: flex-start;
      }

      .cs-picture {
        width: 41vw;
        max-width: (457/16rem);
        /* height is a percentage of parent container height. When the cs-content height changes from extra text, the height of the image adjusts. Since the container is now longer/shorter, 150% of that height with also be longer/shorter */
        height: clamp(145%, 44vw, 160%);
        /* 500px - 578px */
        max-height: clamp(31.25rem, 44vw, 36.125rem);
        margin: 0;
        /* position absolute so we can have the cs-content centered inside the black section and have it respond to different heights of the cs-content */
        position: absolute;
        left: 0;
        bottom: 0;
        /* reset */
        aspect-ratio: none;
      }
    }
  }

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #cta-96 {
      /* 144px - 200px */
      margin-top: clamp(9em, 12.9vw, 12.5em);
      .cs-stripes {
        &:before {
          margin-left: (-220/16rem);
          width: (195/16rem);
        }

        &:after {
          margin-left: (-430/16rem);
          width: (194/16rem);
        }
      }
    }
  }
</style>
