---
import client from "@data/client.json";
import navData from "@data/navData.json";
import footersvg from "@assets/images/footer.svg";
import { getCurrentYear } from "@libs/utils";
import { Image } from "astro:assets";

const currentYear = getCurrentYear();
---

<!-- ============================================ --><!--                   Footer                     --><!-- ============================================ --><!-- ============================================ --><!--                   Footer                     --><!-- ============================================ -->
<footer id="cs-footer-1339">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <h2 class="cs-title">Get The Website You Always</h2>
            <div class="cs-social">
                <a
                    class="cs-social-link"
                    aria-label="visit facebook profile"
                    href=""
                >
                    <img
                        class="cs-social-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-1a.svg"
                        alt="facebook"
                        width="11"
                        height="11"
                    />
                </a>
                <a
                    class="cs-social-link"
                    aria-label="visit twitter profile"
                    href=""
                >
                    <img
                        class="cs-social-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-1a.svg"
                        alt="twitter"
                        width="6"
                        height="11"
                    />
                </a>
                <a
                    class="cs-social-link"
                    aria-label="visit instagram profile"
                    href=""
                >
                    <img
                        class="cs-social-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-1a.svg"
                        alt="instagram"
                        width="11"
                        height="11"
                    />
                </a>
                <a
                    class="cs-social-link"
                    aria-label="visit youtube profile"
                    href=""
                >
                    <img
                        class="cs-social-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-1a.svg"
                        alt="instagram"
                        width="11"
                        height="11"
                    />
                </a>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="">Services</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Projects</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">About Us</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="tel:555-497-1900">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-white.svg"
                            alt="phone icon"
                            width="24"
                            height="24"
                        />
                        555-497-1900
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:office@email.com">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/email-white.svg"
                            alt="email icon"
                            width="24"
                            height="24"
                        />
                        info@invetexfinance.com
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="" target="_blank">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-white.svg"
                            alt="pin icon"
                            width="24"
                            height="24"
                        />
                        Oak Harbor, WA
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2023 <a href="" class="cs-credit-link" target="_blank"
                >Invetex</a
            >
        </span>
        <div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Privacy Policy</a>
            <a href="" class="cs-bottom-link">Terms Of Use</a>
        </div>
    </div>
</footer>

<style lang="less">
    /*-- -------------------------- -->
    <---          Footer            -->
    <--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #cs-footer-1339 {
            padding: var(--sectionPadding);
            /* 30px - 50px */
            padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
            background-color: #1a1a1a;
            position: relative;

            .cs-container {
                width: 100%;
                max-width: (1280/16rem);
                margin: auto;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                column-gap: (48/16rem);
                row-gap: (40/16rem);
            }

            .cs-logo-group {
                /* takes up all the space, lets the other ul's wrap below it */
                width: 100%;
                position: relative;
            }
            .cs-title {
                margin: 0 0 (32/16rem) 0;
                max-width: 23ch;
                color: var(--bodyTextColorWhite);
            }

            .cs-social {
                display: inline-flex;
                justify-content: flex-start;
                gap: (8/16rem);
            }

            .cs-social-link {
                width: (32/16rem);
                height: (32/16rem);
                background-color: #484848;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 1;
                transition:
                    transform 0.3s,
                    background-color 0.3s;

                &:hover {
                    background-color: var(--primaryLight);
                    transform: translateY(-0.1875rem);

                    .cs-social-img {
                        filter: grayscale(1) brightness(100%);
                    }
                }
            }

            .cs-social-img {
                height: (12/16rem);
                filter: grayscale(1) brightness(630%);
                width: auto;
                display: block;
            }

            .cs-header {
                font-size: (20/16rem);
                line-height: 1.5em;
                font-weight: 700;
                margin: 0 0 (24/16rem) 0;
                color: #fff;
                display: block;
                position: relative;
            }

            .cs-ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: (12/16rem);
            }

            .cs-li {
                list-style: none;
            }

            .cs-link {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 1.5vw, 1rem);
                text-decoration: none;
                line-height: 1.5em;
                text-align: left;
                color: var(--bodyTextColorWhite);
                display: inline-flex;
                align-items: flex-start;
                gap: (8/16rem);
                transition: color 0.3s;

                &:hover {
                    color: var(--primaryLight);
                }
            }

            .cs-icon {
                width: (20/16rem);
                height: auto;
                margin-right: (2/16rem);
                display: block;
            }

            .cs-bottom {
                text-align: center;
                width: 100%;
                max-width: (1280/16rem);
                /* 48px - 64px */
                margin: clamp(1.75rem, 7vw, 4rem) auto 0;
                /* 28px - 40px */
                padding-top: clamp(1.75rem, 3vw, 2.5rem);
                border-top: 1px solid #484848;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: (12/16rem);
            }

            .cs-credit,
            .cs-bottom-link,
            .cs-credit-link {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 1.5vw, 1rem);
                line-height: 1.5em;
                text-decoration: none;
                width: auto;
                margin: 0;
                color: #bababa;
                display: inline-block;
                position: relative;
                transition: color 0.3s;
            }

            .cs-credit {
                width: 100%;
            }

            .cs-credit-link {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 1.5vw, 1rem);
                line-height: 1.5em;
                text-decoration: none;
                width: auto;
                margin: 0;
                color: #bababa;
                display: inline-block;
                position: relative;

                &:hover {
                    color: var(--primary);
                }
            }

            .cs-bottom-links {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .cs-bottom-link {
                display: flex;
                align-items: center;

                &:hover {
                    color: var(--primary);
                }

                &:last-of-type {
                    &:before {
                        /* seperator */
                        content: "";
                        width: 1px;
                        height: (14/16rem);
                        margin: 0 (12/16rem);
                        background: currentColor;
                        opacity: 1;
                        display: block;
                    }
                }
            }
        }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #cs-footer-1339 {
            .cs-container {
                max-width: (1280/16rem);
                /* 48px - 120px */
                column-gap: clamp(3rem, 8vw, 7.5rem);
                flex-wrap: nowrap;
            }

            .cs-logo-group {
                width: 45%;
                max-width: (622/16rem);
                /* pushes the lists away from it and to the right */
                margin-right: auto;
            }

            .cs-bottom {
                justify-content: space-between;
                flex-wrap: nowrap;
            }

            .cs-credit {
                text-align: left;
            }

            .cs-bottom-links {
                justify-content: flex-end;
            }
        }
    }

    /* Dark Mode */
    @media only screen and (min-width: 48rem) {
        body.dark-mode {
            #cs-footer-1339 {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
</style>
