<!-- ============================================ --><!--                   Gallery                    --><!-- ============================================ -->
<section id="gallery-1374">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Explore Our Recently Completed Work</h2>
            <p class="cs-text">
                We specialize in small business web design and development for
                clients anywhere in the US. Every line of code is written by
                hand to ensure the best performance, which helps bring in more
                customers to your site and bring more revenue to your business.
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Card 1 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png"
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png"
                            alt="fancy house"
                            width="346"
                            height="346"
                        />
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Voyage</h3>
                            <span class="cs-desc"
                                >A complete Travel Agency App UI</span
                            >
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img
                                class="cs-icon"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                alt="arrow"
                                width="413"
                                height="374"
                                aria-hidden="true"
                            />
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 2 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png"
                        />
                        <img
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png"
                            alt="modern house"
                            width="346"
                            height="346"
                        />
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Matcha and Co</h3>
                            <span class="cs-desc"
                                >A Tea Brand E-commerce Website</span
                            >
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img
                                class="cs-icon"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                alt="arrow"
                                width="413"
                                height="374"
                                aria-hidden="true"
                            />
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 3 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png"
                        />
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png"
                            alt="modern home at night"
                            width="346"
                            height="346"
                        />
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Bradley</h3>
                            <span class="cs-desc"
                                >This is Psychologist's Portfolio landing page
                                UI header.</span
                            >
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img
                                class="cs-icon"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                alt="arrow"
                                width="413"
                                height="374"
                                aria-hidden="true"
                            />
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 4 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-4.png"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-4.png"
                        />
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-4.png"
                            alt="modern home"
                            width="346"
                            height="346"
                        />
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Anthony</h3>
                            <span class="cs-desc"
                                >A Men's Skin Care website</span
                            >
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img
                                class="cs-icon"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                alt="arrow"
                                width="413"
                                height="374"
                                aria-hidden="true"
                            />
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 5 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-5.png"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-5.png"
                        />
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-5.png"
                            alt="appliance"
                            width="346"
                            height="346"
                        />
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Quizlingo</h3>
                            <span class="cs-desc"
                                >A complete Vocabulary Game App UI</span
                            >
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img
                                class="cs-icon"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                alt="arrow"
                                width="413"
                                height="374"
                                aria-hidden="true"
                            />
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 6 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source
                            media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-6.png"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-6.png"
                        />
                        <img
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-6.png"
                            alt="modern home"
                            width="346"
                            height="346"
                        />
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Listee</h3>
                            <span class="cs-desc"
                                >A Business Directory Listing Website</span
                            >
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img
                                class="cs-icon"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                alt="arrow"
                                width="413"
                                height="374"
                                aria-hidden="true"
                            />
                        </picture>
                    </div>
                </a>
            </li>
        </ul>
        <a href="/" class="cs-button-solid">View All Works</a>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<style type="less">
    /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        @keyframes floatAnimation {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-2rem);
            }
            100% {
                transform: translateY(0);
            }
        }

        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-3rem);
            }
            100% {
                transform: translateY(0);
            }
        }

        #gallery-1374 {
            padding: var(--sectionPadding);
            position: relative;
            z-index: 1;
            /* Prevents overflow from the image going off screen */
            overflow: hidden;

            .cs-container {
                width: 100%;
                max-width: (1280/16rem);
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* 48px - 64px */
                gap: clamp(3rem, 6vw, 4rem);
            }

            .cs-content {
                /* set text align to left if content needs to be left aligned */
                text-align: center;
                width: 100%;
                display: flex;
                flex-direction: column;
                /* centers content horizontally, set to flex-start to left align */
                align-items: center;
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-image-group {
                width: 100%;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: 1fr;
                /* 16px - 60px */
                gap: clamp(1rem, 4.3vw, 3.75rem);
            }

            .cs-link {
                text-decoration: none;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: (16/16rem);
            }

            .cs-item {
                list-style: none;
                width: 100%;
                height: 100%;
                margin: 0;
                grid-column: span 12;

                &:hover {
                    .cs-h3,
                    .cs-desc {
                        color: #fff;
                    }

                    .cs-item-text {
                        background-color: var(--primary);
                    }

                    .cs-icon-wrapper {
                        border-color: #fff;
                    }

                    .cs-icon {
                        filter: brightness(1000%) grayscale(1);
                    }
                }
            }

            .cs-picture {
                width: 100%;
                /* 344px - 420px */
                height: clamp(21.5rem, 30vw, 26.25rem);
                margin: auto;
                border-radius: (24/16rem);
                display: block;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .cs-item-text {
                /* 16px - 20px top & bottom, 16px - 40px left & right */
                padding: clamp(1rem, 2vw, 1.25rem) clamp(1rem, 2.8vw, 2.5rem);
                background-color: #f7f7f7;
                border-radius: (24/16rem);
                display: flex;
                justify-content: space-between;
                align-items: center;
                /* makes the item text the element that grows to fill the container */
                flex-grow: 1;
                gap: (16/16rem);
                transition: background-color 0.3s;
            }

            .cs-flex {
                display: flex;
                flex-direction: column;
                gap: (8/16rem);
            }

            .cs-h3 {
                /* 20px - 25px */
                font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
                line-height: 1.2em;
                text-align: left;
                margin: 0;
                color: #1a1a1a;
                transition: color 0.3s;
            }

            .cs-desc {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 1.2vw, 1rem);
                line-height: 1.5em;
                color: #1a1a1a;
                transition: color 0.3s;
            }

            .cs-icon-wrapper {
                width: (48/16rem);
                height: (48/16rem);
                border: 1px solid #bababa;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                /* prevents the parent flexbox from shrinking the icon */
                flex-shrink: 0;
                transition: border-color 0.3s;
            }

            .cs-icon {
                width: auto;
                height: (12/16rem);
                transition: filter 0.3s;
            }

            .cs-button-solid {
                font-size: (16/16rem);
                font-weight: 700;
                /* 46px - 56px */
                line-height: clamp(2.875rem, 5.5vw, 3.5rem);
                text-align: center;
                text-decoration: none;
                min-width: (150/16rem);
                margin: 0;
                /* prevents padding from adding to the width */
                box-sizing: border-box;
                overflow: hidden;
                padding: 0 (24/16rem);
                color: #fff;
                background-color: var(--primary);
                border-radius: (48/16rem);
                display: inline-block;
                position: relative;
                z-index: 1;

                &:before {
                    content: "";
                    width: 0%;
                    height: 100%;
                    background: #000;
                    opacity: 1;
                    border-radius: (4/16rem);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: width 0.3s;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }

            .cs-bubbles {
                width: (415/16rem);
                height: (546/16rem);
                position: absolute;
                right: (-164/16rem);
                bottom: (-46/16rem);
                z-index: -1;

                &:before {
                    /* white border bubble */
                    content: "";
                    width: (341/16rem);
                    height: (341/16rem);
                    background: transparent;
                    opacity: 1;
                    border: 1px solid #1a1a1a;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    animation-name: floatAnimation;
                    animation-duration: 5s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                }

                &:after {
                    /* orange bubble */
                    content: "";
                    width: (341/16rem);
                    height: (341/16rem);
                    background: var(--primary);
                    opacity: 0.1;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                    animation-name: floatAnimation2;
                    animation-duration: 14s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    /* In Between - 600px */
    @media only screen and (min-width: 37.5rem) {
        #gallery-1374 {
            .cs-item {
                grid-column: span 6;
            }
        }
    }

    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode {
            #gallery-1374 {
                .cs-title,
                .cs-text,
                .cs-h3 {
                    color: var(--bodyTextColorWhite);
                }

                .cs-text {
                    opacity: 0.8;
                }
            }
        }
    }
</style>
