    ---
    import { Image } from "astro:assets";
    import portfolioImage1 from "@assets/images/Speed.png";
    ---

    <!-- ============================================ --><!--             Side By Side Reverse             --><!-- ============================================ -->
    <section id="sbsr-1592">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Top left image-->
                <picture class="cs-picture cs-picture1">
                    <Image src={portfolioImage1} alt="speed" />
                </picture>
                <!--Top Right image-->
                <!-- <picture class="cs-picture cs-picture2"> -->
                <!--Mobile Image-->
                <!-- <source -->
                <!-- media="(max-width: 600px)" -->
                <!-- srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg" -->
                <!-- /> -->
                <!--Tablet and above Image-->
                <!-- <source -->
                <!-- media="(min-width: 601px)" -->
                <!-- srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg" -->
                <!-- /> -->
                <!-- <img -->
                <!-- loading="lazy" -->
                <!-- decoding="async" -->
                <!-- src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg" -->
                <!-- alt="mechanic" -->
                <!-- width="413" -->
                <!-- height="280" -->
                <!-- /> -->
                <!-- </picture> -->
            </div>
            <div class="cs-content">
                <span class="cs-topper">Unmatched Performance</span>
                <h2 class="cs-title">
                    Beautiful and fast load times
                </h2>
                <p class="cs-text">
                    Our websites are custom-coded to minimize bloat and maximize performance, ensuring top scores on Google PageSpeed Insights. This optimization is critical for SEO, helping your business rank higher in search results and providing your customers with an exceptional browsing experience.            </p>
                <!-- <a href="https://skinbysalena.com" class="cs-button-solid"
                    >Visit Site
                </a> -->
            </div>
        </div>

        <style lang="less">
            /*-- -------------------------- -->
        <---   Side By Side Reverse     -->
        <--- -------------------------- -*/
        #sbsr-1592 .cs-image-group {
    display: flex;
    justify-content: center; /* Center the image group horizontally */
    align-items: center;    /* Center the image group vertically */
    position: relative;     /* For responsive positioning */
    width: 100%;            /* Ensure full width */
    min-height: auto;       /* Allow height to adjust */
}
            /* Mobile - 360px */
            @media only screen and (min-width: 0rem) {
                #sbsr-1592 {
                    padding: var(--sectionPadding);
                    padding-bottom: 0rem;
                }
                #sbsr-1592 .cs-container {
                    width: 100%;
                    /* changes to 1280px at desktop */
                    max-width: 34.375rem;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    /* 48px - 64px */
                    gap: clamp(3rem, 6vw, 4rem);
                }
                #sbsr-1592 .cs-content {
                    /* set text align to left if content needs to be left aligned */
                    text-align: left;
                    width: 100%;
                    max-width: 36.625rem;
                    display: flex;
                    flex-direction: column;
                    /* centers content horizontally, set to flex-start to left align */
                    align-items: flex-start;
                }
                #sbsr-1592 .cs-text {
                    margin-bottom: 1rem;
                }
                #sbsr-1592 .cs-text:last-of-type {
                    margin-bottom: 2rem;
                }
                #sbsr-1592 .cs-button-solid {
                    font-size: 1rem;
                    /* 46px - 56px */
                    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
                    text-decoration: none;
                    font-weight: 700;
                    text-align: center;
                    margin: 0;
                    color: #fff;
                    min-width: 9.375rem;
                    padding: 0 3rem;
                    background-color: var(--primary);
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    /* prevents padding from adding to the width */
                    box-sizing: border-box;
                }
                #sbsr-1592 .cs-button-solid:before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 0%;
                    background: #000;
                    opacity: 1;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: width 0.3s;
                }
                #sbsr-1592 .cs-button-solid:hover:before {
                    width: 100%;
                }
                #sbsr-1592 .cs-image-group {
                    /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
                    font-size: min(1.959vw, 0.745em);
                    width: auto;
                    margin: 0 auto 0 0;
                    /* we set a minimum height so it never gets smaller than this value */
                    min-height: 30.25em;
                    display: block;
                    position: relative;
                    z-index: 1;
                    order: 2;
                }
                #sbsr-1592 .cs-picture {
                    position: absolute;

                }
                #sbsr-1592 .cs-picture img {
                    width: auto;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                #sbsr-1592 .cs-picture1 {
                    /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
                    width: 50rem;
                    height: 80.617834%;
                    top: 0;
                    // right: -10;
                    z-index: -1;
                }
                #sbsr-1592 .cs-picture2 {
                    width: 25.8125em;
                    height: 44.585987%;
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                }
            }
            /* Tablet 768px */
            @media only screen and (min-width: 48rem) {
                #sbsr-1592 .cs-container {
                    max-width: 80rem;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: stretch;
                }
                #sbsr-1592 .cs-content {
                    /* this padding sets a minimum gap between the top and bottom of the content div and the top and bottom of the cs-image-group */
                    padding: 3.75rem 0;
                    /* while the cs-image-group will stretch to fill the height of the parent, this property will ensure that the cs-content group aligns itse;f in the center of the parent div instead of stretching */
                    align-self: center;
                }
                #sbsr-1592 .cs-image-group {
                    font-size: min(1.2vw, 1em);
                    flex: none;
                    /* sends it to the right in the 2nd position */
                    order: 2;
                }
                #sbsr-1592 .cs-picture1 {
                    width: auto;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            /* Dark Mode */
            @media only screen and (min-width: 0rem) {
                body.dark-mode #sbsr-1592 .cs-title,
                body.dark-mode #sbsr-1592 .cs-text {
                    color: var(--bodyTextColorWhite);
                }
                body.dark-mode #sbsr-1592 .cs-text {
                    opacity: 0.8;
                }
            }
        </style>
    </section>
