<!-- ============================================ --><!--                Side By Side                  --><!-- ============================================ -->
<section id="sbs-1362">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source
                    media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg"
                />
                <!--Tablet and above Image-->
                <source
                    media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people10.jpg"
                    alt="people"
                    width="605"
                    height="690"
                />
            </picture>
            <!-- <div class="cs-box">
                <img
                    class="cs-box-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg"
                    alt="people"
                    width="60"
                    height="60"
                />
                <span class="cs-desc"> We’ve Over 26 Years of Experience </span>
            </div> -->
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">
                Make your business known in today's Digital market
            </h2>
            <p class="cs-text">
                At Midlo Web Studio, we elevate small businesses by crafting
                meticulously hand-coded websites, purposefully designed for
                maximum performance and customer engagement. While your
                competitors rely on WordPress, Wix, GoDaddy, and other page
                builders that underperform and plummet in Google search
                rankings, we ensure your website stands out.
            </p>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img
                            class="cs-h3-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg"
                            alt="icon"
                            width="32"
                            height="32"
                        />
                        SEO Strategies
                    </h3>
                    <p class="cs-item-text">
                        Boost traffic, capture leads, and convert visitors into
                        customers with our proven search engine optimization
                        strategies.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img
                            class="cs-h3-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg"
                            alt="icon"
                            width="32"
                            height="32"
                        />
                        Money Back Gaurentee
                    </h3>
                    <p class="cs-item-text">
                        If we can’t design something you like, you get your
                        money back and the contract is cancelled.
                    </p>
                </li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img
                        class="cs-icon"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
                        alt="checkmark"
                        width="24"
                        height="24"
                    />
                    100% Secure Code
                </li>
                <li class="cs-li">
                    <img
                        class="cs-icon"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
                        alt="checkmark"
                        width="24"
                        height="24"
                    />
                    A+ Google PageSpeed Insights
                </li>
                <li class="cs-li">
                    <img
                        class="cs-icon"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
                        alt="checkmark"
                        width="24"
                        height="24"
                    />
                    Unlimited Edits and Support
                </li>
                <li class="cs-li">
                    <img
                        class="cs-icon"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
                        alt="checkmark"
                        width="24"
                        height="24"
                    />
                    Custom Designed
                </li>
            </ul>
            <a href="/contact" class="cs-button-solid">Schedule A Call</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<style lang="less">
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        @keyframes floatAnimation {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-2rem);
            }
            100% {
                transform: translateY(0);
            }
        }

        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-3rem);
            }
            100% {
                transform: translateY(0);
            }
        }

        #sbs-1362 {
            padding: var(--sectionPadding);
            position: relative;
            background-color: #e8e8e8;

            overflow: hidden;
            z-index: 1;

            .cs-container {
                width: 100%;
                /* changes to 1280px at desktop */
                max-width: (584/16rem);
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                /* 48px - 64px */
                gap: clamp(3rem, 6vw, 4rem);
            }

            .cs-content {
                /* set text align to left if content needs to be left aligned */
                text-align: left;
                width: 100%;
                max-width: (630/16rem);
                display: flex;
                flex-direction: column;
                /* centers content horizontally, set to flex-start to left align */
                align-items: flex-start;
            }

            .cs-text {
                margin-bottom: (16/16rem);
                &:last-of-type {
                    margin-bottom: (24/16rem);
                }
            }

            .cs-card-group {
                width: 100%;
                max-width: (630/16rem);
                margin: 0 0 (24/16rem) 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
                align-items: center;
                gap: clamp(1rem, 2vw, 1.25rem);
            }

            .cs-item {
                list-style: none;
                /* 16px - 24px */
                padding: clamp(1rem, 3vw, 1.5rem);
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
                background-color: #f7f7f7;
                border-radius: (16/16rem);
                border: 1px solid #e8e8e8;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: (12/16rem);
            }

            .cs-h3 {
                font-size: (20/16rem);
                line-height: 1.2em;
                font-weight: 700;
                margin: 0;
                color: var(--headerColor);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: (8/16rem);
            }

            .cs-h3-icon {
                width: (32/16rem);
                height: auto;
                display: block;
            }

            .cs-item-text {
                font-size: (14/16rem);
                line-height: 1.5em;
                margin: 0;
                color: var(--bodyTextColor);
            }

            .cs-ul {
                width: 100%;
                margin: 0 0 (24/16rem) 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: (12/16rem);
            }

            .cs-li {
                font-size: var(--bodyFontSize);
                list-style: none;
                line-height: 1.5em;
                width: 100%;
                color: var(--bodyTextColor);
                display: flex;
                justify-content: flex-start;
                /* push icon top the top so if the list item goes to two lines the icon stays at the top */
                align-items: flex-start;
                gap: (8/16rem);
            }

            .cs-icon {
                width: (24/16rem);
                height: auto;
                /* adds extra space between the icon and top of parent so it's more centered */
                margin-top: 1px;
                display: block;
            }

            .cs-image-group {
                width: 100%;
                max-width: (586/16rem);
                /* Changes to auto at desktop */
                height: (520/16rem);
                /* 32px - 48px */
                border-radius: clamp(2rem, 4vw, 3rem);
                /* clips the corners of the children around the border radius */
                overflow: hidden;
                position: relative;
            }

            .cs-background {
                width: 100%;
                height: 100%;
                /* makes it cover the parent dimensions */
                object-fit: cover;
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                    /* makes it cover the parent like a backgorund image */
                    object-fit: cover;
                    display: block;
                }
            }

            .cs-box {
                text-align: left;
                width: 100%;
                max-width: (304/16rem);
                padding: (32/16rem);
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
                background-color: var(--primary);
                /* 48px - 80px */
                border-radius: (32/16rem);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: (24/16rem);
                position: absolute;
                /* 12px - 20px */
                right: clamp(0.75rem, 1.9vw, 1.5rem);
                /* 12px - 20px */
                bottom: clamp(0.75rem, 1.9vw, 1.5rem);
            }

            .cs-box-icon {
                width: (60/16rem);
                height: auto;
                display: block;
            }

            .cs-desc {
                font-size: (20/16rem);
                line-height: 1.2em;
                text-align: inherit;
                font-weight: 700;
                width: 100%;
                margin: 0;
                color: var(--bodyTextColorWhite);
            }

            .cs-bubbles {
                font-size: ~"min(2.5vw, .7em)";
                width: (419/16em);
                height: (427/16em);
                position: absolute;
                /* changes to 160px at larger desktop */
                right: (-260/16em);
                /* changes to 30px at large desktop */
                bottom: (-50/16em);
                z-index: -1;

                &:before {
                    /* white border bubble */
                    content: "";
                    width: (330/16em);
                    height: (330/16em);
                    background: transparent;
                    border: 1px solid #1a1a1a;
                    border-radius: 50%;
                    opacity: 1;
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 0;
                    animation-name: floatAnimation;
                    animation-duration: 5s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                    animation-iteration-count: infinite;
                }

                &:after {
                    /* orange bubble */
                    content: "";
                    width: (260/16em);
                    height: (260/16em);
                    background: var(--primary);
                    opacity: 0.15;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                    animation-name: floatAnimation2;
                    animation-duration: 14s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                    animation-iteration-count: infinite;
                }
            }
        }
    }

    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #sbs-1362 {
            .cs-container {
                max-width: (1280/16rem);
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
            }

            .cs-image-group {
                height: auto;
            }

            .cs-bubbles {
                font-size: ~"min(2.5vw, 1em)";
            }
        }
    }

    /* Large Desktop 1600px */
    @media only screen and (min-width: 100rem) {
        #sbs-1362 {
            .cs-bubbles {
                margin-left: (650/16rem);
                right: auto;
                left: 50%;
                bottom: (30/16rem);
            }
        }
    }

    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode {
            #sbs-1362 {
                background-color: var(--dark);
                .cs-topper {
                    color: var(--primary);
                }

                .cs-title,
                .cs-text,
                .cs-li,
                .cs-item-text {
                    color: var(--bodyTextColorWhite);
                }

                .cs-text,
                .cs-li,
                .cs-item-text {
                    opacity: 0.8;
                }

                .cs-item {
                    background-color: rgba(0, 0, 0, 0.2);
                    border-color: rgba(255, 255, 255, 0.2);
                }

                .cs-h3 {
                    color: var(--bodyTextColorWhite);
                }

                .cs-icon {
                    filter: grayscale(1) brightness(1000%);
                }

                .cs-bubbles {
                    &:before {
                        border-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }
</style>
